html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loaderContainer {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.loader {
  width: 60vw;
  height: 224px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background: #26547C
}

.linkText {
  cursor: pointer;
  background: linear-gradient(0deg, rgba(195, 34, 146, 1) 0%, rgba(254, 104, 24, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}